.badge {
    background-color: tomato;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
   
}

.badge-mark {
    background-color: white;
    outline: 1px solid tomato;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    position: relative;
    right: -8px;
    top: 14px;
}